@charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    @font-face {
        font-family:'Android' ;
        src: url(../fontes/idroid.otf);
        font-weight: normal;
    }

    :root {
        --cor0: #ebe5c5;
        --cor1: #83e1ab;
        --cor2: #3ddc84;
        --cor3: #2fa866;
        --cor4: #1a5c37;
        --cor5: #063d1e;

        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
        --fonte-destaque: 'Bebas Neue', cursive;
        --fonte-android: 'Android', cursive;
    }
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    margin: 0px;
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    font-family: var(--fonte-destaque);
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}
header >  h1 {
    color: white;
    font-weight: normal;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);

}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    margin: auto;
    padding:40px 10px 10px 10px;
    max-width: 600px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    
}
nav{
    background-color: var(--cor4);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.342);
    padding: 10px;
}
nav > a{
    color: var(--cor2);
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    
}
nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

main{
    background-color: white;
    max-width:1000px ;
    min-width:300px ;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.342);
}
main h1{
    font-family: var(--fonte-android);
    font-size: 1.8em;
    color: var(--cor5);
    text-align: center;
    font-size: 2em;
}
main h2{
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor3),transparent);
    color: var(--cor4);
}
main p{
    text-align: justify;
    line-height: 2em;
    margin: 15px 0px;
    text-indent: 20px;
}
main strong{
    color: var(--cor4);
    border-radius: 4px;
}
main a{
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    font-weight: bold;
    border-radius: 5px;
}
main a:hover{
    text-decoration: underline;
    color: white;
    background-color: var(--cor4);
    border-radius: 4px;
}
main img{
    width: 100%;
}
main img.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 10px;
    padding-bottom: 56.5%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;

}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.342);
}
aside h3{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
footer{
    background-color: var(--cor5);
    font-size: 0.9em;
    color: white;
    text-align: right;
    padding: 4px 10px 4px 0px;
}
footer > a{
    color: white;
    text-decoration: none;
}
footer > a:hover{
    text-decoration: underline;
    color:var(--cor1);
}